
@{
    ViewData["Title"] = "Index";
}

<h1>Math</h1>

<div>
    <form asp-action="SquareTheNumber" method="post">
        <span>Cube Number: </span> <input id="Text1" type="text" name="inputInt" /> <br /><br />
        <span>Square Root Number: </span> <input id="Text1" type="text" name="inputInt2" /> <br /><br />     
        <input name="submit" type="submit" />
    </form>    
    <p>
        @Model
    </p>
</div>

